/* Leftside header*/
.header__nav {
   display: flex;
   overflow: hidden;
}

.header__logo {
    flex: 1;
    position: relative;
    padding: 20px;
    display:  flex;
}
.header__logo-overlay {
    position: absolute;
    inset: 0;
    width: 100%;
    background-color: var(--primary-color);
    z-index: -1;
}
.header__logo h4 {
  position: relative;
  z-index: 2;
  color: white;
  font-family: var(--playfair-display);
  font-size: 1.5rem;
  padding-left: 40px;
}
/* End of Leftside header*/
/* Rightside header*/
    .header__menu, .header__menu-mobile {
        display: flex;
        flex: 1.236;
        justify-content: flex-end;
        align-items: center;
        padding: 20px;
        z-index: 2;
        /* background-color: blue; */
        gap: 64px;
    }
    .header__menu li {
        list-style-type: none;
        /* margin-right: 30px; */
        color: var(--primary-color);
        font-family: var(--playfair-display);
         font-size: 16px;
        text-transform: uppercase;
        line-height: 20px;
        cursor: pointer;
    }
    .header__menu-mobile li {
        list-style-type: none;
    }
    .header__menu li:last-child {
       
    }
    .header__menu-mobile {
        display: none;
    }
/* Ending of rightside header*/